@page
@model CollegeProject1.Pages.page1.Index2Model
@{
}
<table class="table">
    <thead>
        <tr>

            <td>StudentName</td> 
            <td>Class</td>
            <td>Exam</td>
            <td>Roll</td>
            <td>Address</td>
            <td>Result</td>
            <td>TotalMark</td>
            <td>Percentage</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listStudents)
        {
            <tr>
                <td>@item.StudentName</td>
                <td>@item.Class</td>
                <td>@item.Exam</td>
                <td>@item.Roll</td>
                <td>@item.Address</td>
                <td>@item.Result</td>
                <td>@item.TotalMark</td>
                <td>@item.Percentage</td>
                <td>
                    <button formaction="/Exam/View" type="submit" runat="server" asp-for="Submit">View</button>
                </td>
            </tr>
        }
    </tbody>
</table>